div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6em;
        background-color: grey;
        border-radius: 1em;
        width: 25vw;
        height: 25vh;
    }
}